@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 150vh;
    background-image: linear-gradient(to bottom, black, white);
    display: flex;
}

.carta:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.carta.flip {
    transform: rotateY(180deg);
}

.jogo-meromia {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 10000px;
}

.carta {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px black;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: white;
}

.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
}

h1 {
    padding-left: 33px;
    padding-right: 33px;
    background-image: linear-gradient(to left, white, black);
    color: aliceblue;
    border-radius: 15px;
}

input {
    background-color: red;
    text-align: center;
    color: azure;
    height: 30px;
    width: 100px;
    margin-top: 1050px;
    margin-left: 46%;
    position: absolute;
    border-radius: 15px;
}